body {
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat-black', sans-serif;
}

.container-fluid {
    padding: 5% 12%;
}

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}




/* SECTIONS */

.white-section{
    background-color: #ffffff;
    color: black;
}

.coloured-section{
    background-color: #ff4c68;
    color: #FFFFFF;
}





/* TITLE SECTION */

#title {
    padding: 0 3% 0;
}

#title .container-fluid {
    padding-top: 3%;
    text-align: center;

}

.navbar-light .navbar-brand {
    color: #ffffff;
}


.title-image {
    transform: rotate(15deg);
    width: 25%;
    position: absolute;
    right: 25%;
}



/* FEATURES SECTION */

#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ff8c9d;
    margin: 1rem;
}

.icon:hover {
    color: #ff4c68;

}

/* TESTIMONIALS */

#testimonials {
    background-color: #ff8c9d;
}

.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-image {
    border-radius: 100%;
    height: 10rem;
    margin: 50px;
}



.carousel-item {
    padding: 5% 15%;
}


/* PRESS SECTION */


#press {
    padding: 1% 0 5%;
    background-color: #ff8c9d;
}

.press-image {
    height: 3rem;
    margin: 0 20px;
}

/* PRICING SECTION */

#pricing {
    padding: 100px;
}

.pricing-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

.pricing-col {
    padding: 3% 2%;

}

.card-text {
    font-size: 2.5rem;
}


/* CTA SECTION */

.cta-heading {
    font-size: 2.5rem;
    line-height: 1.5;

    padding: 3% 15%;
}


/* FOOTER */


#footer {
    background-color: #ececec;
}

.social-icon {
    margin: 10px;
}

/* MEDIA QUERIES */

@media (max-width:1080px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0deg);
        width: 70%
    }

}